---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
    content: {
        title: string;
        pubDate?: string;
        updatedDate?: string;
    };
}

const {
    content: { title, pubDate, updatedDate },
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
        <main class="container mx-auto py-6">
            <article class="prose max-w-none">
                <h1>{title}</h1>
                {pubDate && <time>{pubDate}</time>}
                {updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
                <slot />
            </article>
        </main>
		<Footer />
	</body>
</html>
